{% extends "templates/rss.njk" %}

{% block content %}
  {% for post in postList %}
    <item>
      <title>{{ post.title }}</title>
      <link>https://half-stack.dev{{ post.url }}</link>
      <description><![CDATA[{{ post.content | safe }}]]></description>
      <pubDate>{{ post.pubDate.dateTime }}</pubDate>
    </item>
  {% endfor %}
{% endblock %}
