{% extends "templates/general.njk" %}

{% from "mod-header/header.njk" import header %}
{% from "mod-footer/footer.njk" import footer %}

{% block title %}About / Half-Stack Developer{% endblock %}

{% block content %}
  {{ header('About') }}
  <article>
    <h1>About</h1>
    <p>A "full-stack" developer does both front-end and back-end, I do front-end, thus "half".</p>
    <p>#html #css #javascript #webcomponents #frontend #til #kiss</p>
  </article>
  {{ footer('About') }}
{% endblock %}
