{% extends "templates/general.njk" %}

{% from "mod-header/header.njk" import header %}
{% from "mod-footer/footer.njk" import footer %}

{% block title %}About / Half-Stack Developer{% endblock %}

{% block content %}
  {{ header('About') }}
  <article>
    <h1>About</h1>
    <p>Taking notes on my journey of web front-end development.</p>
  </article>
  {{ footer('About') }}
{% endblock %}
