{%- from "mod-header/header.njk" import header -%}
{%- from "mod-footer/footer.njk" import footer -%}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../partials/html-head.njk" %}
  <title>{% block title %}{% endblock %} / Half-Stack Developer</title>
</head>
<body>
<main id="main">
  {{ header('Article') }}
  <article>
  {% block content %}{% endblock %}
  </article>
  {{ footer('Article') }}
</main>
<script type="module" src="{{ assetsUrlPath }}/js/main.js" crossorigin></script>
<script src="https://mwst.sinzy.info/code/3" async></script>
</body>
</html>
