[data-mod-name='archive'] {
  padding: 4rem 0;
}
.archive__postlist,
.archive__post {
  margin: 0;
  padding: 0;
  display: flex;
}
.archive__postlist {
  flex-direction: column;
  gap: var(--b0-gap);
}
.archive__post {
  list-style: none;
  flex-direction: column;
}
.archive__time {
  color: darkgray;
  font-size: calc(var(--b0-bfs) - 0.2rem);
}

@media (width >= 44em) {
  .archive__post {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
  }
}
