<section data-mod-name="archive" data-mod-bypass>
  <ul class="archive__postlist">
    {% for post in postList %}
    <li class="archive__post">
      <a href="{{ post.url }}" class="archive__link">{{ post.title }}</a>
      <time datetime="{{ post.pubDate.dateTime }}" class="archive__time">{{ post.pubDate.label }}</time>
    </li>
    {% endfor %}
  </ul>
</section>
